*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    vertical-align: bottom;
}

iframe {
    border: none;
}

:disabled {
    cursor: not-allowed;
}


body {
    font-family: sans-serif;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

[class^="col-"] {
    flex: 1 0 auto;
    padding: 0 1rem;
}

.col-2 {
    flex-basis: 16.66%;
    max-width: 16.66%;
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.col-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.flex {
    display: flex;
}


/* Layout */

.wrap-1 {
    height: 778px;
    background-image: url('full_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.logo {
    margin-left: 95px;
    margin-top: 22px;
    width: 180px;
}

nav {
    margin: 45px 0 0 0;
}

nav li {
    margin: 0 15px;
}

nav li a {
    font-size: 20px;
    padding: 0 12px;
    color: var(--white);
}

.wrap-1 input {
    margin: 40px 0 0 110px;
    padding: 10px;
    border: 3px solid #0adab9;
    border-radius: 30px;
    background: transparent;
    width: 254px;
    color: white;
}

.wrap-1 input::placeholder {
    color: #fff;
    text-align: end;
    font-size: 18px;
    font-weight: bold;
}

.wrap-1 h1 {
    margin: 100px 0 0 135px;
    font-size: 80px;
}

.wrap-1 p {
    margin: 10px 0 0 135px;
    font-size: 20px;
    text-align: justify;
}

.wrap-1 button {
    margin: 36px 0 0 135px;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: bold;
    background: #0adab9;
    border: none;
    border-radius: 20px;
}

.wrap-1 .fa-brands {
    margin: 53px 0 0 39px;
    position: relative;
    top: 12px;
    left: 100px;
    font-size: 20px;
    padding: 10px 12px;
    font-weight: bold;
    background: #0adab9;
    border-radius: 20px;
    color: #000;
}

.wrap-1 h2 {
    text-align: end;
    margin: 71px 104px 0 0;
    font-size: 30px;
}